@import "tailwindcss";

/* Global cursor style applied to all elements */
* {
  cursor: url('/cursor.ico'), auto;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
